/* login.css */
body {
  background-color: #080710;
}

.login-box {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.2); /* Lighter background color */
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  text-align: center;
}

.login-box h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px; /* Add margin to separate from input fields */
}

.login-box label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 8px; /* Add margin to separate from input fields */
  text-align: left; /* Align labels to the left */
}

.login-box input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
}

.login-box a {
  display: inline-block;
  margin-top: 20px; /* Reduce the margin for closer positioning */
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none; /* Remove underlines from links */
  position: relative; /* Position for the animation */
  overflow: hidden; /* Hide extra text */
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffffff);
  animation: animate1 1s linear infinite;
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ffffff);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s; /* Delay for animation */
